Source: ros-kinetic-aic-auto-dock
Section: misc
Priority: optional
Maintainer: aicrobo <aicrobo@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-aic-laser-feature-line-extraction, ros-kinetic-aic-msgs, ros-kinetic-catkin, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-teb-local-planner, ros-kinetic-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-aic-auto-dock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-aic-laser-feature-line-extraction, ros-kinetic-aic-msgs, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-teb-local-planner, ros-kinetic-tf
Description: The aic_auto_dock package
