<launch>
    <node name="aic_auto_dock_testTool" pkg="aic_auto_dock" type="aic_auto_dock_testTool" output="screen">
        <param name= "x_max_range" value="0.7"/>
        <param name= "x_min_range" value="0.3"/>
        <param name= "x_array_num" value="10"/>
        <param name= "angle_max_range" value="0.4"/>
        <param name= "angle_min_range" value="-0.4"/>
        <param name= "angle_array_num" value="10"/>
        <param name= "test_vel" value="0.3"/>
        <param name= "~dock_direction" value="0"/> <!-- 0:后退对接  1: 前进对接-->
        <param name= "~waitingTime" value="0"/>
        <param name= "~tag_no" value="0"/>
        <param name= "~board_shape" value="1"/>
        <!-- board_shape选项
             ALL_SHAPE = 0               #操作所有特征板
             VL_SHAPE = 1                #VL型特征板
             PARALLEL_SHAPE = 2          #平行特征板
             CONVEX_SHAPE = 3            #凸性特征板
             NARROW_PASSAGE_SHAPE = 4    #狭窄通道特征形状
             ELEVATOR_SHAPE = 5          #电梯口特征形状
         -->
         <param name= "~logic_mode" value="0"/>
         <!-- logic_mode
              CHARGE = 0               #充电桩
              ROLLER = 1               #辊筒
              RISING = 2               #顶升
              TRACTOR = 3              #牵引
          -->
    </node>
</launch>
